<p>
  <strong>Booktitle:</strong>
  <%= @book.booktitle %>
</p>
 
<p>
  <strong>Comments:</strong>
  <%= @book.comments %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.rating %>
</p>



<%= link_to 'Back', books_path %></br>
 

  
